attrs
cffi
cycler
flatbuffers
fonttools
jax
kiwisolver
matplotlib
mediapipe
ml-dtypes
numpy
opencv-contrib-python
opencv-python
opt-einsum
packaging
pillow
protobuf
pycparser
pygame
pyparsing
python-dateutil
scipy
six
sounddevice
open3d
