ACTION=="add", KERNEL=="PAC.00",  SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/PAC.00/value"
ACTION=="add", KERNEL=="gpio300", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio300/value"
ACTION=="add", KERNEL=="gpio301", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio301/value"
ACTION=="add", KERNEL=="gpio302", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio302/value"
ACTION=="add", KERNEL=="gpio303", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio303/value"
ACTION=="add", KERNEL=="gpio304", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio304/value"
ACTION=="add", KERNEL=="gpio305", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio305/value"
ACTION=="add", KERNEL=="gpio306", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio306/value"
ACTION=="add", KERNEL=="gpio307", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio307/value"
ACTION=="add", KERNEL=="gpio308", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio308/value"
ACTION=="add", KERNEL=="gpio309", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio309/value"
ACTION=="add", KERNEL=="gpio310", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio310/value"
ACTION=="add", KERNEL=="gpio311", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio311/value"
ACTION=="add", KERNEL=="gpio312", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio312/value"
ACTION=="add", KERNEL=="gpio313", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio313/value"
ACTION=="add", KERNEL=="gpio314", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio314/value"
