ACTION=="add", KERNEL=="PAC.00",  SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/PAC.00/value"
ACTION=="add", KERNEL=="gpio300", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio300/value"
ACTION=="add", KERNEL=="gpio301", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio301/value"
ACTION=="add", KERNEL=="gpio302", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio302/value"
ACTION=="add", KERNEL=="gpio303", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio303/value"
ACTION=="add", KERNEL=="gpio304", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio304/value"
ACTION=="add", KERNEL=="gpio305", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio305/value"
ACTION=="add", KERNEL=="gpio306", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio306/value"
ACTION=="add", KERNEL=="gpio307", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio307/value"
ACTION=="add", KERNEL=="gpio308", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio308/value"
ACTION=="add", KERNEL=="gpio309", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio309/value"
ACTION=="add", KERNEL=="gpio310", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio310/value"
ACTION=="add", KERNEL=="gpio311", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio311/value"
ACTION=="add", KERNEL=="gpio312", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio312/value"
ACTION=="add", KERNEL=="gpio313", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio313/value"
ACTION=="add", KERNEL=="gpio314", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio314/value"
ACTION=="add", KERNEL=="gpio708", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio708/value"
ACTION=="add", KERNEL=="gpio709", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio709/value"
ACTION=="add", KERNEL=="gpio710", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio710/value"
ACTION=="add", KERNEL=="gpio711", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio711/value"
ACTION=="add", KERNEL=="gpio712", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio712/value"
ACTION=="add", KERNEL=="gpio713", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio713/value"
ACTION=="add", KERNEL=="gpio714", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio714/value"
ACTION=="add", KERNEL=="gpio715", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio715/value"
ACTION=="add", KERNEL=="gpio716", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio716/value"
ACTION=="add", KERNEL=="gpio717", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio717/value"
ACTION=="add", KERNEL=="gpio718", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio718/value"
ACTION=="add", KERNEL=="gpio719", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio719/value"
ACTION=="add", KERNEL=="gpio720", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio720/value"
ACTION=="add", KERNEL=="gpio721", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio721/value"
ACTION=="add", KERNEL=="gpio722", SUBSYSTEM=="gpio", RUN+="/bin/chmod 666 /sys/class/gpio/gpio722/value"
